# OS
.Trashes
.Spotlight-V100
.DS_Store*
Thumbs.db

# IntelliJ
.idea/
*.iml

# Visual Studio
.vscode/
**/.project
**/.classpath
**/.settings/

# NetBeans
/nbproject/private/
/nbbuild/
**/dist/
/nbdist/
/.nb-gradle/
build/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Java/Maven/Gradle
**/target/
**/build/
.gradle/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.mtj.tmp/
*key.json
# Log
*.log

# BlueJ
*.ctxt

# Packages
*.zip
*.tar.gz
*.rar

# JavaScript/NPM/Yarn
**/node_modules/
**/.pnp
**/.pnp.js
**/coverage/
**/.env.local
**/.env.development.local
**/.env.test.local
**/env.production.local
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
